<main class="container">
    <section class="section">
         <h3 class="section-title">Your Dashboard</h3>
      <!-- Link to create a new post -->
        <a href="/dashboard/createPost" class="create-post">Create New Post &plus;</a>
    </section>
    {{#if posts}}
    <section class="section cards">

        {{#each posts}}
        {{> userPostCard this}}
        {{/each}}
    </section>
    {{/if}}
</main>