<main class="container">
    <h2 class="page-title">Edit Post</h2>
    <form action="/dashboard/editPost/{{post.id}}" method="post">
        {{#if error}}
         <!-- Display an error message if the "error" variable exists -->
        <p class="error">{{error}}</p>
        {{/if}}
        <div class="formgroup">
           <!-- Input field for the post title with the existing title  -->
            <input type="text" name="title" placeholder="Post title" value="{{post.title}}">
        </div>
        <div class="formgroup">
           <!-- Textarea field for the post content with existing text -->
            <textarea name="content" cols="30" rows="10" placeholder="Post Content">{{post.content}}</textarea>
        </div>
            <!-- Submit button for editing the post -->
        <button type="submit" class="submit-btn">Edit Post</button>
    </form>
</main>